# base16-fish-shell (https://github.com/FabioAntunes/base16-fish-shell)
# Inspired by base16-shell (https://github.com/chriskempson/base16-shell)
# {{scheme-name}} scheme by {{scheme-author}}

function base16-{{scheme-slug}} -d "base16 {{scheme-name}} theme"
    set color00 "{{base00-hex-r}}/{{base00-hex-g}}/{{base00-hex-b}}" # Base 00 - Black
    set color01 "{{base08-hex-r}}/{{base08-hex-g}}/{{base08-hex-b}}" # Base 08 - Red
    set color02 "{{base0B-hex-r}}/{{base0B-hex-g}}/{{base0B-hex-b}}" # Base 0B - Green
    set color03 "{{base0A-hex-r}}/{{base0A-hex-g}}/{{base0A-hex-b}}" # Base 0A - Yellow
    set color04 "{{base0D-hex-r}}/{{base0D-hex-g}}/{{base0D-hex-b}}" # Base 0D - Blue
    set color05 "{{base0E-hex-r}}/{{base0E-hex-g}}/{{base0E-hex-b}}" # Base 0E - Magenta
    set color06 "{{base0C-hex-r}}/{{base0C-hex-g}}/{{base0C-hex-b}}" # Base 0C - Cyan
    set color07 "{{base05-hex-r}}/{{base05-hex-g}}/{{base05-hex-b}}" # Base 05 - White
    set color08 "{{base03-hex-r}}/{{base03-hex-g}}/{{base03-hex-b}}" # Base 03 - Bright Black
    set color09 $color01 # Base 08 - Bright Red
    set color10 $color02 # Base 0B - Bright Green
    set color11 $color03 # Base 0A - Bright Yellow
    set color12 $color04 # Base 0D - Bright Blue
    set color13 $color05 # Base 0E - Bright Magenta
    set color14 $color06 # Base 0C - Bright Cyan
    set color15 "{{base07-hex-r}}/{{base07-hex-g}}/{{base07-hex-b}}" # Base 07 - Bright White
    set color16 "{{base09-hex-r}}/{{base09-hex-g}}/{{base09-hex-b}}" # Base 09
    set color17 "{{base0F-hex-r}}/{{base0F-hex-g}}/{{base0F-hex-b}}" # Base 0F
    set color18 "{{base01-hex-r}}/{{base01-hex-g}}/{{base01-hex-b}}" # Base 01
    set color19 "{{base02-hex-r}}/{{base02-hex-g}}/{{base02-hex-b}}" # Base 02
    set color20 "{{base04-hex-r}}/{{base04-hex-g}}/{{base04-hex-b}}" # Base 04
    set color21 "{{base06-hex-r}}/{{base06-hex-g}}/{{base06-hex-b}}" # Base 06
    set color_foreground "{{base05-hex-r}}/{{base05-hex-g}}/{{base05-hex-b}}" # Base 05
    color_background "{{base00-hex-r}}/{{base00-hex-g}}/{{base00-hex-b}}" # Base 00

    # 16 color space
    __put_template 0  $color00
    __put_template 1  $color01
    __put_template 2  $color02
    __put_template 3  $color03
    __put_template 4  $color04
    __put_template 5  $color05
    __put_template 6  $color06
    __put_template 7  $color07
    __put_template 8  $color08
    __put_template 9  $color09
    __put_template 10 $color10
    __put_template 11 $color11
    __put_template 12 $color12
    __put_template 13 $color13
    __put_template 14 $color14
    __put_template 15 $color15

    # 256 color space
    __put_template 16 $color16
    __put_template 17 $color17
    __put_template 18 $color18
    __put_template 19 $color19
    __put_template 20 $color20
    __put_template 21 $color21

    # foreground / background / cursor color
    if [ -n "$ITERM_SESSION_ID" ]
      # iTerm2 proprietary escape codes
      __put_template_custom Pg A6AFB8 # foreground
      __put_template_custom Ph 18262F # background
      __put_template_custom Pi A6AFB8 # bold color
      __put_template_custom Pj 586875 # selection color
      __put_template_custom Pk A6AFB8 # selected text color
      __put_template_custom Pl A6AFB8 # cursor
      __put_template_custom Pm 18262F # cursor text
    else
      __put_template_var 10 $color_foreground
      if [ "$BASE16_SHELL_SET_BACKGROUND" != false ]
        __put_template_var 11 $color_background
        if string match -q -- 'rxvt*' $TERM
          __put_template_var 708 $color_background # internal border (rxvt)
        end
      end
      __put_template_custom 12 ";7" # cursor (reverse video)
    end
end
